nav .link-wrap {
  background: #333;
  height: 0;
  max-width: 1200px;
  overflow: hidden;
  position: absolute;
  top: 53px;
  transition: height 0.3s ease-out;
  width: 100%;
}

nav .link-wrap.visible {
  height: 220px;
}

nav .link-wrap div {
  cursor: pointer;
  font-size: 12pt;
  padding: 12px 20px;
  text-transform: uppercase;
  transition: color 0.5s;
}

nav .link-wrap div:first-child {
  padding: 25px 20px 12px 20px;
}

nav .link-wrap div:hover {
  color: #e31b6d;
}